# Compilados y artefactos de Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup/
/pom.xml.versionsBackup/
/release.properties/
/dependency-reduced-pom.xml/
/buildNumber.properties
/.mvn/

# Archivos de Eclipse
/.settings/
/.classpath
/.project
.factorypath

# Archivos temporales y logs
*.log
hs_err_pid*.log

# IDEs y editores
*.swp
*~ 
.idea/
/.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Ajustes de contenedor
uploads/
galeria/
